// custom scss //

footer {
    padding-left: 50px;
}

h2 {
    color: #f7941e;
}

.body {
    align-content: center;
    text-align: center;
}

.large-5 {
    text-align: center;
}

.large-7 {
    padding-top: 100px;
    text-align: center;
}

.your-class {
    width: 70%;
    text-align: center;
}


